body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
    background-image: url("../image/header_car_in_garage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.6;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.tittle h2 {
    height: 106px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
}

.tittle h2 span {
    color: #ffdc00;
}

.tittle p {
    color: #ffffff;
    font-weight: 300;
}

.tittle p span {
    color: #ffdc00;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}


nav {
    background-color: #ffdc00;
    height: 105px;
}

h1 {
    font-size: 30px;
    line-height: 28px;
    font-weight: 300;
}

h1 b {
    font-weight: 700;
}

.head p {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.number {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.number button {
    width: 200px;
    height: 40px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin: 1px auto;
}

.title {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.title .yellow-text {
    color: #ffe74f;
}

.list > li:nth-child(2n), .complete-set {
    font-size: 14px;
    font-weight: 300;
    color: #9a9a9a;
}

.list > li:nth-child(2n+1), .flex .complete-set .complete {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.yellow-break-line, .left-break-line {
    border: none;
    width: 250px;
    height: 1px;
    background-color: #ffdc00;
}

.left-break-line {
    width: 49px;
    margin-left: 35px;
}

.reason {
    padding: 50px 10px 50px 40px;
}

.reason h3 {
    color: #eccd0c;
    font-size: 16px;
    font-weight: 700;
}

.reason p {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
}

.reviews p {
    font-size: 14px;
    font-weight: 300;
}

.reviews img {
    border: 7px solid #ffe74f;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.delivery-and-guarantee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


li {
    list-style-type: none;
}

.list li {
    padding: 5px;
}

button {
    background-color: #ffdc00;
    font-weight: 300;
    line-height: 28px;
    border-radius: 8px 8px 6px 6px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 5px 0 rgb(185, 160, 0);
    margin: 50px auto;
    display: block;
}

footer {
    background-color: #333333;
    height: 125px;
}


@media all and (max-width: 800px) {
    .header {
        padding: 30px;
    }

    h2 {
        font-size: 22px;
    }

    .nav {
        display: flex;
        justify-content: flex-start;
    }
}
