body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header {
    background-image: url("../image/header_car_in_garage.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: #ffdc00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

button {
    background-color: #ffdc00;
}

footer {
    background-color: #333333;
    height: 125px;
}
