
.header {
    background-image: url("../image/header_car_in_garage.jpg");
    background-size: cover;
    height: 100vh;
}

nav {
    background-color: #ffdc00
}

li {
    list-style-type: none;
}

button {
    background-color: #ffdc00;
}

footer {
    background-color: #333333;
    height: 125px;
}
